// primary colours

$telect-teal: rgb(0, 128, 128);
$telect-dark-teal: rgb(53, 181, 172);
$telect-light-teal: rgb(137, 213, 210);

// secondary colours

$red: rgb(255, 102, 102);
$light-red: rgb(255, 153, 153);

// background colours
$black: rgb(0, 0, 0);
$charcol-black: rgb(32, 32, 32);
$grey-black: rgb(64, 64, 64);
$grey-black-transparent: rgba(64, 64, 64, 0.25);

// text colours
$white: whitesmoke;
$grey: grey;

// hover colours
$row-highlight: rgb(71, 71, 71);
