@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  &__border {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 12rem;
    background-color: $charcol-black;
    border: 0.5px solid $grey-black;
    border-radius: 10px;

    &:hover {
      box-shadow: 0px 0px 10px -3px rgb(0, 0, 0);
    }
  }

  &__title {
    background-color: $grey-black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__title-text {
    margin: 0;
    padding: 1rem;
    font-weight: 600;
    font-size: 0.85rem;
  }
}
