@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 0 1rem;
  }

  &__form-container {
    width: 100%;
  }

  &__signup-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 1rem;
    width: 75%;
    border-top: 1.25px solid $grey-black;

    @include tablet {
      width: 88%;
    }
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include tablet {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }

  &__bot-image {
    width: 12.5rem;
    margin: 2rem 0;

    @include tablet {
      width: 17.5rem;
      margin-left: 6rem;
    }

    @include desktop {
      margin-left: 8rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0;
  }

  &__title {
    color: $white;
    font-weight: 600;
    margin: 2rem 0 2rem 0;
    text-align: center;
  }

  &__title-container {
    margin-top: 5rem;
    border-bottom: 1.25px solid $grey-black;
    width: 70%;

    @include tablet {
      width: 85%;
      margin-top: 7.5rem;
    }
  }

  &__login-button {
    margin-top: 1.5rem;
    width: 75%;
    height: 2.25rem;
    border-radius: 50px;
    padding: 0 0.5rem;
    background-color: $telect-teal;
    border: none;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    align-self: center;
    color: $white;
    font-size: 0.85rem;
    font-weight: 600;

    &:hover {
      background-color: $charcol-black;
      border: 1px $telect-teal solid;
    }
  }

  &__signup-button {
    flex-direction: column;
    height: 2.25rem;
    border-radius: 50px;
    background-color: $charcol-black;
    border: none;
    color: $charcol-black;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: $telect-light-teal;
    padding: 0.6rem 1.5rem 0 1.5rem;

    &:hover {
      background-color: $charcol-black;
      border: 1px $telect-teal solid;
      color: $white;
    }

    @include tablet {
      height: 2.5rem;
      font-size: 1rem;
      padding: 0.7rem 1.5rem 0 1.5rem;
    }
  }
}
