@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mylist {
  padding-top: 6rem;
  text-align: center;

  @include tablet {
    padding-top: 10rem;
  }

  &__addedshow {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include tablet {
      margin-top: 3rem;
    }
  }

  &__title {
    color: $white;
    font-weight: 600;
    font-size: 2rem;
  }
}
