@use "./styles/partials/colors" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  $font-stack: "Montserrat", sans-serif;
  $root-font-size: 16px;
}

html {
  background-color: $charcol-black;
}
